{% extends "components/base.html" %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div class="alert alert-dismissible fade show" role="alert">
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}
<div class="row m-2">
  {% if flag=='create' %}
  {% include "create_book.html" %}
{% else%}
<a name="create_book" id="create_book" class="btn btn-secondary" href="/Books/create" role="button"> <i class="fa fa-plus-circle fa-lg " aria-hidden="true"> </i>  Create new</a>
</div>
<div class="row m-2 ">
{% for book in books %}

{% include "components/book_view.html" %}



{% endfor %}
</div>


{% endif %}
  


{%  endblock %}