{% extends "components/base.html" %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div class="alert alert-dismissible fade show" role="alert">
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}
<div class="row m-2">

  {% if flag=='create' or flag=='edit' %}
  <div class="container">

    <div class="row">
      <h3 class="col-sm-1-12  p-2 mb-4 shadow-sm">{{flag}} new book record</h3>
    </div>
  {% include "create_book.html" %}
    </div>
{% else%}
<a name="create_book" id="create_book" class="btn btn-secondary" href="/Books/create" role="button"> <i class="fa fa-plus-circle fa-lg " aria-hidden="true"> </i>  Create new</a>
</div>



{% endif %}
  


{%  endblock %}