<div class="container">
  <div class="row">
    <h3 class="col-sm-1-12  p-2 mb-4 shadow-sm">Create new book record</h3>
  </div>
  <form>
    <div class="mb-3 col-sm-1-12 row-cols-2">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Enter book title" required>
    </div>
    <div class="mb-3 col-sm-1-12 row-cols-2">
        <label for="author" class="form-label">Author</label>
        <input type="text" class="form-control" id="author" placeholder="Enter author's name" required>
    </div>

    <div class="mb-3 col-sm-1-12 row-cols-2">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" rows="3" placeholder="Enter book description" ></textarea>
  </div>
    <div class="mb-3 col-sm-1-12 row-cols-2">
        <label for="genre" class="form-label">Genre</label>

        <select class="form-select mb-3 col-sm-1-12 row-cols-2" id="genre" >
          <option value="" disabled selected>Select genre</option>
          {% for genre in genres %}
          <option value={{ genre.id}}>{{ genre.name}}</option>
          {% endfor %}

      </select>
    </div>

    <button type="submit" class="btn btn-primary">Create Book</button>
    <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cancel</button>
</form>
</div>