<div class="container">

  <div class="row">
    <h3 class="col-sm-1-12  p-2 mb-4 shadow-sm">Create new book record</h3>
  </div>

  <form method="POST" action="{{ url_for('user_route.create_book') }}" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author" name="author" required>
    </div>
    <div class="form-group">
        <label for="image">Image</label>
        <input type="file" class="form-control" id="image" name="image" accept="image/*" onchange="previewImage(event)" >
        <img id="imagePreview" src="" alt="Image Preview" style="display:none; margin-top: 10px; max-width: 100%; height: auto;">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" ></textarea>
    </div>
    <div class="form-group">
        <label for="genre_id">Genre ID</label>
       <!--<input type="text" class="form-control" id="genre_id" name="genre_id" required>-->
       <select class="form-select" id="genre" name="genre">
        <option value="" disabled selected>Select genre</option>
        {% for genre in genres %}
        <option value="{{ genre.id }}">{{ genre.name }}</option>
        {% endfor %}

    </select>
    </div>
    <button type="submit" class="btn btn-primary">Create Book</button>
    <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cancel</button>
</form>

<script>
    function previewImage(event) {
        const file = event.target.files[0]; // Get the selected file
        const reader = new FileReader(); // Create a FileReader object
    
        reader.onload = function() {
            const imagePreview = document.getElementById('imagePreview'); // Get the image preview element
            imagePreview.src = reader.result; // Set the src to the result of FileReader
            imagePreview.style.display = 'block'; // Make the image visible
        };
    
        if (file) {
            reader.readAsDataURL(file); // Read the file as a data URL
        }
    }
    </script>

</div>