
<div class="card shadow m-2">
  <form>
  <div class="card-body">
   <div class="mb-1 row justify-content-around ">
    <span class="badge badge-info mb-2">{{ book.genre.name }}</span>
    <div class="">
    <label  for="checkbox">Is read:</label>

    <input type="checkbox" name="is_read" id="{{book.id}}_is_read"  autocomplete="off" onclick="document.getElementById('{{book.id}}_save_btn').disabled=false"  >
    </div>
  </div>
    <h4 class="card-title text-center shadow bg-primary rounded text-white pr-4 pl-4 p-2"> {{ book.title }}   </h4>
    <h5 class="card-subtitle text-muted text-center">{{ book.author }}   </h5>

  </div>
  <img src="" placeholder="" class="bg-light"  alt="">
  <div class="card-body">
    <p class="card-text bg-light text-info">{{ book.description }}</p>
 <div class="row justify-content-around">   
<button type="button" class="btn btn-primary">Edit</button>
<button type="submit" class="btn btn-primary" id="{{book.id}}_save_btn" disabled>Save</button>
</div>
  </div>
  <form>
</div>

