<div class="card">
  <div class="card-body">
    <span class="badge badge-primary mb-2">{{ book.genre.name }}</span>
    <h4 class="card-title text-center"> {{ book.title }}   </h4>
    <h5 class="card-subtitle text-muted text-center">{{ book.author }}   </h5>

  </div>
  <img src="holder.js/100x180/" placeholder="holder.js/100x180/" class="bg-light"  alt="">
  <div class="card-body">
    <p class="card-text bg-light text-info">{{ book.description }}</p>
    <a href="#" class="card-link">Link 1</a>
    <a href="#" class="card-link">Link 2</a>
  </div>
</div>