
<div class="card  justify-content-between shadow col-lg-3 m-2">

    <div class="card-body">
      <div class="mb-1 row justify-content-around">
        <span class="badge badge-info mb-2 mw">{{ book.genre.name }}</span>
        <div>
          <label for="{{book.id}}_is_read">Is read:</label>
          <input type="checkbox" name="is_read" id="{{book.id}}_is_read" {% if book.is_read %}checked{% endif %} onclick="document.getElementById('{{book.id}}_save_btn').disabled=false">
        </div>
      </div>
      <h4 class="card-title text-center shadow bg-primary rounded text-white pr-4 pl-4 p-2">{{ book.title }}</h4>
      <h5 class="card-subtitle text-muted text-center">By {{ book.author }}</h5>
      <img src="{{book.img_url}}" alt="{{ book.title }}" class="bg-light img-fluid w-75 ">
    </div>
    
 <!--    <div class="card-body"> -->
      <p class="card-text bg-light flex-grow-1 text-info m-3">{{ book.description }}</p>
      <div class="row justify-content-around m-1 mb-3 ">   
        <a type="button" href="/Books/edit/{{ book.id }}" class="btn btn-primary">Edit</a>
        <button type="submit" class="btn btn-primary" id="{{book.id}}_save_btn" disabled onclick="toggleRead({{ book.id }})" >Save</button>
      </div>

</div>



